body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}